*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* HEADER QISMI BOSHLANISHI */
.container{
    max-width: 1290px;
    padding: 0 20px;
    margin: 0 auto; 
    background-color: #FFFFFF;
}
.header-qismi {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px #454545 solid;
}

.header-qismi img{
    width: 240px;
    height: 56px;
} 
.hreflar {
    display: flex;
    gap: 25px;
}
.hreflar a{
    font-size: 18px;
    text-decoration: dashed;
    margin-top: 15px;
}
.hreflar a:hover{
    transition: all 0.5 ease;
    transform: scale(1.05);
    color: #009688;
}
.header-right{
    display: flex;
    margin-top: 8px;
    gap: 12px;
}
.header-right img{
    width: 91px;
    height: 44px;
    border-radius: 8px;
}
.header-right p {
    width: 32px;
    height: px;
    color: #009688;
    border: 0.7px;
    transform: rotate(-90deg);   
}
.header-right button{
    width: 110px;
    height: 38px;
    border-radius: 8px;
    background-color: #ffff;
}
.header-right button:hover{
    transition: all 0.5 ease;
    transform: scale(1.06);
    background-color: #009688;
    color: #FFFF;
}
.header-right .tugma{
    width: 40px;
    height: 40px;
    display: none;
}
/* header media qismi */
@media(max-width:900px){
    .header-qismi .hreflar{
       display: none;
    }
    .header-qismi img{
        width: 180px;
        height: 45px;
    }
    .header-right img{
        width: 75px;
        height: 35px;
    }
    .header-right button{
        width: 70px;
        height: 30px;
    }
    .header-right .tugma{
        display: block;
        width: 15px;
        height: 15px;
    }
}
@media(max-width:500px){
    .header-qismi img{
        width: 150px;
        height: 35px;
    }
    .header-right img{
        width: 65px;
        height: 25px;
    }
    .header-right button{
        width: 60px;
        height: 20px;
    }
    .header-right .tugma{
        width: 10px;
        height: 10px;
    }
}

/* HEADER QISMI TUGADI */

/* MAIN QISMI BOSHLANDI */
/* Birinchi section boshlandi */
.one-section{
    background-color: #009688;
}
.start {
    display: flex;
    background-color:#009688 ;
}
.start-one button{
    border-radius: 5px;
    font-size: 17px;
    margin-top: 113px;
}
.start-one button:hover{
    transition: all 0.5 ease;
    background-color: #0526cd;
    transform: scale(1.07);
}
.start-one h1{
    font-size: 58px;
    font-style: bold;
    color: #FFFFFF;
    margin-top: 40px;
}
.start-one img{
    width: 455px;
    height: 59px;
    margin-top: 40px;
}
.start-two img{
    width: 594px;
    height: 572px;
}
/* birinchi section mediasi */
@media(max-width:900px){
    .start{
        display: block;
    }
    .start-one button{
        font-size: 16px;
        margin-top: 83px;
    }
    .start-one h1{
        font-size: 48px;
    }
    .start-one img{
        width: 420px;
        height: 50px;
    }
    .start-two img{
        width: 550px;
        height: 532px;
    }
}
@media(max-width:500px){
    .start-one h1{
        font-size: 38px;
    }
    .start-one img{
        width: 400px;
        height: 40px;
    }
    .start-two img{
        width: 520px;
        height: 500px;
    }
}
/* Birinchi section to'liq tugadi */

/* Ikkinchi section boshlandi */
.two-section{
 background-color: #FFFF;
}
.center{
    align-items: center;
    text-align: center;
  
}
.center h1{
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    color: #000000;
    margin-top: 70px;
}
.center p{
    font-size: 20px;
    color: #686868;
    font-weight: 500;
    margin-top: 10px;
}
.boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 62px;
}
.box{
    width: 380px;
    height: 361px;
    background-color:#80acf8;
}

    /* color: #80acf8; */

.box img{
    margin: 30px; 
    border-radius: 6px;  
}
.box p{
    font-size: 17px;
    font-weight: 400;
    color: #454545;
    margin-left: 30px;
    margin-right: 30px;
}
.box button{
    width: 320px;
    height: 43px;
    border-radius: 8px;
    margin: 30px;
}
.box button:hover{
    transition: all 0.7 ease;
    transform: scale(1.05);
    color: #FFFFFF;
    background-color: #000000;
}
/* ikkinchi section media qismi */
@media(max-width:900px){
    center h1{
        font-size: 30px;   
    }
}
/* ikkinchi section tugadi */

/* Uchinchi section boshlandi */
.center-three{
    text-align: center;
    margin-top: 70px;
}
.center-three h1{
    font-size: 40px;
    font-style: bold;
    font-weight: 700;
    color: #000000;
}
.center-three p{
    font-size: 17px;
    font-weight: 500;
    color: #686868;
}

.center-four{
    display: flex;
    /* justify-content: space-between;   */
    align-items: center ;
    background-color: #D2E6E4;
    width: 980px;
    height: 445px;
    margin: 55px;
    border-radius: 10px;
    margin-left: 115px;
    gap: 65px;
}
.center-four img{
    width: 205px;
    height: 270px;
}

.four-box h1{
    font-size: 35px;
}
.four-box p{
    font-size: 22px;
}
/* .four-box img{
    margin-top: 36px;
} */
/* uchinchi section mediasi boshlandi */
@media(max-width:900px){
    .center-three h1{
        font-size: 30px;
    }
    .center-three p{
        font-size: 15px;
    }
    .center-four{
        width: 700px;
        height: 330px;
        margin-left: 50px;
    }
    .four-box h1{
        font-size: 30px;   
    }
    .four-box p{
        font-size: 17px;
    }
    .four-box img{
        margin-top: 30px;
    }
    
    }
    @media(max-width:500px){
        .center-three h1{
            font-size: 27px;
        }
        .center-three p{
            font-size: 13px;
        }
        .center-four{
            display: block;
            width: 410px;
            align-items: center;
            margin-left: 20px;
            padding: 20px;
            height: 420px;
        }
        .four-box h1{
            font-size: 22px;
        }
        .four-box p{
            font-size: 10px;
        }
        .four-box img{
             margin-top: 25px;
        }
    }
    /* uchinchi section tuliq tugadi */

    /* To'rtinchi section boshlanmoqda */
    .four-section h1{
        text-align: center;
        font-style: bold;
        font-size: 40px;
        font-weight: 700;
    }
    .logo-qutilar{
        display: flex;
        margin-top: 60px;
        gap: 21px;
        flex-wrap: wrap;
        /* width: 1785px; */
        /* height: 305px; */
    }
    @media(max-width:900px){
        .four-section h1{
            font-size: 30px;
        }
        .logo-qutilar img{
            width: 200px;
            height: 120px;   
        }
    }
    @media(max-width:500px){
        .four-section h1{
            font-size: 26px;
        }
        .logo-qutilar img{
            width: 160px;
            height: 80px;
        }
    }
    /* to'rtinchi section to'liq tugadi */

    /* beshinchi section boshlandi */
    .center-five{
        text-align: center;
        align-items: center;
        margin-top: 70px;
    }
    .center-five h1{
        font-size: 40px;
        font-weight: 700;
        color: #000000;
    }
    .center-five p{
        font-weight: 500;
        font-size: 17px;
        color: #686868;
        margin-top: 16px;
    }
.box-one{
    display: flex;
    justify-content: space-between;
}
.box-one h2{
    font-size: 35px;
    font-weight: 500;
    color: #000000;
}
.box-tugma{
    display: flex;
    gap: 23px;
}
.box-tugma button{
    width: 50px;
    height: 50px;
    transition: all 0.5 ease;
    border-radius: 50%;
}
.box-tugma button:hover{
    transform: scale(1.08);
    transform: rotate(5px);
    background-color: #009688;
}
.five-box-pictures{
    display: flex;
    margin-top: 15px;
    gap: 20px;
    justify-content: space-between;
}
.five-box-one{
    background-image: url(./images/five-box-picture1.jpg);
    width: 380px;
    height: 516px;
    border-radius: 10px;
}
.five-box-one-pic{
    display: flex;
    justify-content: space-between;
    width: 323px;
    height: 70px;
    margin-top: 424px;
    align-items: center;
    padding-left: 29px;
}
.five-box-one-pic h6{
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}
.five-box-one-pic button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: all 0.8 ease;
    background-color: #80acf8;
}
.five-box-one-pic button:hover{
    transform: rotate(6px);
    transform: scale(1.09);
    background-color: #0526cd;
}
/* beshinchi section tugadi  */
/* mediasi boshlandi */
@media(max-width:900px){
    .center-five h1{
        font-size: 34px;
    }
    .center-five p{
        font-size: 15px;
    }
    .box-one h2{
        font-size: 30px;
    }
    .box-tugma button{
        width: 40px;
        height: 40px;
    } 
    .five-box-pictures{
        flex-wrap: wrap;
    }
    .five-box-one{
        width: 340px;
        height: 475px;
    }
    .five-box-one-pic{
        margin-top: 390px;
        width: 283px;
        height: 55px;
        padding-left: 19px;
    }
    .five-box-one-pic h6{
        font-size: 16px;
    }
    .five-box-one-pic button{
        width: 47px;
        height: 47px;
    }
    }
@media(max-width:500px){
    .center-five h1{
        font-size: 30px;
    }
    .center-five p{
        font-size: 12px;
    }
    .box-one h2{
        font-size: 25px;
    }
    .box-tugma button{
        width: 35px;
        height: 35px;
    }
    .five-box-one{
        width: 300px;
        height: 430px;
    }
    .five-box-one-pic{
        margin-top: 380px;
        width: 263px;
        height: 48px;
        padding-left: 15px;
    }
    .five-box-one-pic h6{
        font-size: 12px;
    }
    .five-box-one-pic button{
        width: 40px;
        height: 40px;
    }  
}
/* beshinchi section mediasi ham tugadi */
/* oltinchi section boshlandi  */
.center-six{
    text-align: center;
    align-items: center;
    margin-top: 70px;
}
.center-six h1{
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}
.center-six p{
    font-weight: 500;
    font-size: 17px;
    color: #686868;
}
.six-boxes{
    display: flex;
    gap: 40px;

}
.six-box{
    width: 366px;
    height: 330px;
    margin-top: 60px;
    border: 0.6px ;
    box-shadow: 2px 2px 10px 8px gray ;
    background-color: #F6F8F9;
}
.six-box h4{
    font-weight: 500;
    font-size: 17px;
    color: #686868;
    width: 296px;
    height: 182px;
    margin-top: 35px;
    margin-left: 35px;
    line-height: 26px;
}
.six-box-bottom{
    display: flex;
    gap: 15px;
    margin-left: 35px;

}
.six-box-bottom img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* oltinchi section tugadi  */
/* oltinchi section mediasi  */
@media (max-width:900px){
    .center-six h1{
        font-size: 35px;
    }
    .center-six p{
        font-size: 13px;
    }
    .six-boxes{
       display: grid;
       grid-template-columns: repeat(2,1fr); 
    }
    .six-box{
        width: 356px;
        height: 320px;
    }
    .six-box h4{
        font-size: 15px;
    }
    .six-box-bottom img{
        width: 45px;
        height: 45px;
    }
}
@media(max-width:500px){
    .center-six h1{
        font-size: 30px;
    }
    .center-six p{
        font-size: 10px;
    }
    .six-boxes{
        display: grid;
        grid-template-columns: repeat(1fr);
    }
    .six-box{
        width: 336px;
        height: 300px;
    }
    .six-box h4{
        font-size: 13px;
    }
    .six-box-bottom img{
        width: 40px;
        height: 40px;
    }
}
/* oltinchi section mediasi tugadi */
/* yettinchi section boshlandi */
.center-seven{
    margin-top: 140px;
    text-align: center;
    align-items: center;
}
.center-seven h1{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}
.center-seven p{
    font-size: 20px;
    font-weight: 500;
    color: #686868;
    margin-top: 16px;
}
.seven-boxes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.sev-box{
    border: 1px solid #000000;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.sev-box p{
    font-size: 22px;
    font-weight: 500;
    color: #000000;
    padding: 20px;
}
.big{ 
    grid-row: 1 / span 2;
}
.big h5{
    font-size: 22px;
    display: block;
    flex-direction: column;
    justify-content: center;

}

/* yettinchi section mediasi boshlanmoqda */
@media(max-width:900px){
    .center-seven{
        margin-top: 100px;
    }
    .center-seven h1{
        font-size: 33px;
    }
    .center-seven p{
        font-size: 16px;
        margin-top: 10px;
    }
    .seven-boxes{
        display: block;
        grid-template-columns: repeat(1fr);
    }
}
@media(max-width:500px){
    .center-seven{
        margin-top: 90px;
    }
    .center-seven h1{
        font-size: 28px;
    }
    .center-seven p{
        font-size: 12px;
        margin-top: 9px;
    }
    .sev-box{
        width: 450px;
        height: 70px;
        margin-top: 15px;
    }
    .sev-box p{
        font-size: 18px;
    }
}
/* yettinchi section mediasi tugadi */

/* sakkizinchi section boshlandi */
.eight-boxes{
    display: flex;
    margin-top: 140px;
}
.eight-boxes-left{
    width: 709px;
    height: 465px;
    background-color: #FAE9D3;
    padding: 30px;
}
.eight-boxes-left h1{
    font-size: 32px;
    font-weight: 700;
    color: #D28527;
    margin-top: 45px;
}
.eight-boxes-left p{
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    color: #D28527;
    margin-top: 20px;
    
}
.eight-boxes-right{
    background-color: #F9F7F3;
    width: 470px;
    height: 465px;
    padding: 30px;
}
.eight-boxes-right h1{
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    align-items: center;
    margin-top: 45px;
}
.eight-boxes-right p{
    font-size: 16px;
    color: #152032;
    line-height: 20px;
    font-weight: 500;
}
.eight-boxes-right-input{
    width: 371px;
    height: 47px;
    border-radius: 7px;
    border: 1px solid #68686880;
    margin-top: 20px;
    text-align: center;
}
.eight-boxes-right button{
    width: 371px;
    height: 47px;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 22px;
}
.eight-boxes-right button:hover{
    transition: all 0.6 ease;
    transform: scale(1.04);
    background-color: #009688;
    color: #FFFFFF;
}
/* sakkizinchi section mediasi */
@media(max-width:900px){
    .eight-boxes{
        margin-top: 100px;
    }
    .eight-boxes-left h1{
        font-size: 28px;
    }
    .eight-boxes-left p{
        font-size: 19px;
    }
    .eight-boxes-right h1{
        font-size: 28px;
    }
    .eight-boxes-right-input{
        width: 300px;
        height: 40px;
    }
    .eight-boxes-right button{
        width: 270px;
        height: 30px;
    }
}
@media(max-width:500px){
    .eight-boxes{
        margin-top: 80px;
        display: block;   
    }
    .eight-boxes-left{
        width: 450px;
        height: 300px;
    }
    .eight-boxes-left h1{
        font-size: 25px;
        margin-top: 25px;
    }
    .eight-boxes-left p{
        font-size: 15px;
    }
    .eight-boxes-right{
        width: 450px;
        height: 370px;
    }
    .eight-boxes-right h1{
        font-size: 25px;
        margin-top: 22px;
    }
    .eight-boxes-right h1{
        font-size: 25px;
    }
    .eight-boxes-right-input{
        width: 250px;
        height: 35px;
    }
    .eight-boxes-right button{
        width: 250px;
        height: 30px;
    }
}
/* sakkizinchi section mediasi tugadi */
/* footer qismi boshlanmoqda */

.footer-box{
    background-color: #009688;
    margin-top: 70px;
    
}
.footer-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    
}
.footer-center img{
   width: 140px;
   height: 76px;
   margin-top: 38px; 
   margin: 0 auto;
   
}
.footer-hreflari{
    display: flex;   
    gap: 48px;
    margin: 0 auto;
    
}
.footer-hreflari a{
    text-decoration: dashed;
    color: #FFFFFF;  
}
.footer-hreflari a:hover{
    transition: all 0.5 ease;
    transform: scale(1.03);
    color: #0526cd;
}

.footer-center .two-photo {
    width: 363px;
    height: 24px;
    margin:0 auto;
    
}
.chiziq{
    border: 1px solid #FFFFFF;
    margin-top: 48px;
}
.footer-box p{
    text-align: center;
    margin-top: 48px; 
    padding-bottom: 38px;
    color: #FFFFFF;
}  
@media(max-width:900px){
    .footer-center img{
        width: 130px;
        height: 66px;
    }
    .footer-two-photo img{
        width: 350px;
        height: 22px;
    }
}         






    



